//
//  Config.xcconfig
//  OpenArchive
//
//  Created by Benjamin Erhart on 01.08.18.
//  Copyright © 2018 Open Archive. All rights reserved.
//
// Avoid accidental checkins:
// git update-index --skip-worktree Shared/Config.xcconfig
// git update-index --no-skip-worktree Shared/Config.xcconfig

OA_APP_BUNDLE_ID[config=Debug] =
OA_EXT_BUNDLE_ID[config=Debug] =
OA_SCS_BUNDLE_ID[config=Debug] =
OA_APP_GROUP[config=Debug] =
DEVELOPMENT_TEAM[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER_MAIN[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER_SCREENSHOTS[config=Debug] =

OA_APP_BUNDLE_ID[config=Release] = org.open-archive.save
OA_EXT_BUNDLE_ID[config=Release] = org.open-archive.save.ShareExtension
OA_SCS_BUNDLE_ID[config=Release] = org.open-archive.save.Screenshots
OA_APP_GROUP[config=Release] = group.org.open-archive.save
DEVELOPMENT_TEAM[config=Release] = QSU424W5UW
PROVISIONING_PROFILE_SPECIFIER_MAIN[config=Release] = save Distribution
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION[config=Release] = save Share Extension Distribution
PROVISIONING_PROFILE_SPECIFIER_SCREENSHOTS[config=Release] =

MARKETING_VERSION = 3.1.0
CURRENT_PROJECT_VERSION = 95

DROPBOX_KEY = gd5sputfo57s1l1

GOOGLE_CLIENT_ID[config=Debug] = 589246344859-l0tb2aci39vt0osbc7rq9ccimvoj8grv // Dev
GOOGLE_CLIENT_ID[config=Release] = 741316235729-6ek8n6v6u68mkok61rtd6qnj85c2bebm // Production 589246344859-2s2dacvmrv3qptumqs2brffqn3qb8117 // Testing

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) OA_APP_GROUP="$(OA_APP_GROUP)" DEVELOPMENT_TEAM="$(DEVELOPMENT_TEAM)" CURRENT_PROJECT_VERSION="$(CURRENT_PROJECT_VERSION)" MARKETING_VERSION="$(MARKETING_VERSION)" DROPBOX_KEY="$(DROPBOX_KEY)" GOOGLE_CLIENT_ID="$(GOOGLE_CLIENT_ID)"
