//
//  Config.xcconfig
//  OpenArchive
//
//  Created by Benjamin Erhart on 01.08.18.
//  Copyright © 2018 Open Archive. All rights reserved.
//

OA_APP_BUNDLE_ID = org.open-archive.OpenArchive
OA_EXT_BUNDLE_ID = org.open-archive.OpenArchive.ShareExtension
OA_APP_GROUP = group.org.open-archive.OpenArchive

DEVELOPMENT_TEAM =

PROVISIONING_PROFILE_MAIN_DEV =
PROVISIONING_PROFILE_SPECIFIER_MAIN_DEV =
PROVISIONING_PROFILE_MAIN_RELEASE =
PROVISIONING_PROFILE_SPECIFIER_MAIN_RELEASE =

PROVISIONING_PROFILE_SHARE_EXTENSION_DEV =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION_DEV =
PROVISIONING_PROFILE_SHARE_EXTENSION_RELEASE =
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION_RELEASE =

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) OA_APP_GROUP="$(OA_APP_GROUP)"
